body {
    font-family: "Poppins", sans-serif;
    margin: 1em 0 0 0;
  }

a {
    text-decoration: none;
    font-size: 1.3rem;
  }

.active {
  font-weight: bold;
}

.web-logo {
  padding: 0 0 0 1.5em;
  font-weight: bold;

  span {
    color: #99d8c2;
  }
}


.hero{
  position: relative;
  .text-content {
    position: absolute;
    top: 20%;
    color: white;
    margin: 0 50px;
  }

  img {
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    height: 93vh;    //Background Size, 100vh is the whole screen
  }

  .w3-button {
    margin: 2.5em auto;
    width: 70%;
    display: block;
    font-size: medium;
  }
  
}

.top-nav {
    position: fixed;
    right: 0;
    top: 0;
    background: #333;
    height: 100vh;
    width: 50%;
    z-index: 2;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  
    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 8em;
  
      a {
        color: white;
        padding: 0.75em 2em;
        display: block;
        //padding on link element wont work unless its display block
        width: 100%;

        .web-logo {
          width: 20%;
        }
  
        &:hover {
          background: rgb(122, 117, 117);
        }
      }

    }
    .close {
      float: right;
      margin: 2em;
      width: 2em;
    }
  }

.bot-nav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow-x: auto;
  margin: 0 0 0 0;
  border-radius: 25px 25px 0 0;
  
  .bot-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  .fa {
    color: white;
    padding: 15px 1.3em;
    font-size: 20px;
    
    &:hover {
      background: none;
      opacity: 0.7;
    }
  }
}

header {
display: flex;
justify-content: space-between;

  svg {
      width: 2em;
      margin-top: -0.6em;
      cursor: pointer;
      margin: 0 1.5em 0 0;
  }
}

.hero-product {
  display: flex;
  position: absolute;
  top: 30%;
  justify-content: center;
  align-items: center;
  width: 100%;

  .product-index {
    margin: 0;
    h1 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.7rem;
    }
    p {
      font: 100%;
    }
  }

  a {
    color: #99d8c2;
    text-transform: uppercase;
    font-weight: bold;
    transform: rotate(-90deg);
    margin: 0;
    font: 2em;
    transition: 0.2s;
    &:hover {
      font-style: italic;
      font-size: 200%;
    }
  }
}

.open-nav {
    transform: translateX(0);
}  

// Bottom Circle Menu
#menu {
  text-align: center;
  // width: 75px;
  // height: 75px;
  // position: absolute;
  // left: 50%;
  // top: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  list-style: none;
  font-size: 200%;
  padding-left: 0px;
}

.menu-button {
  opacity: 0;
  z-index: -1;
}

.menu-button {
  width: 50px;
  height: 50px;
  position: absolute;
  // left: 50%;
  top: 85%;
  // margin: -50px 0 0 -50px;
  margin: 0px;
  border-radius: 50%;
  background: #333333;
  background-size: 100%;
  overflow: hidden;
  text-decoration: none;
  color: white;
}

#menu:not(:target)>a:first-of-type,
#menu:target>a:last-of-type{
  opacity: 1;
  z-index: 1;
}
#menu:not(:target)>.icon-plus:before,
#menu:target>.icon-menu:before{
  opacity: 1;
}
.menu-item{
  width: 50px;
  height: 50px;
  position: absolute;
  // left: 50%;
  line-height: 5px;
  top: 85%;
  // margin: -50px 0 0 -50px;
  border-radius: 50%;
  background: #333333;
  transform: translate(0px, 0px);
  transition: transform 500ms;
  // z-index: -2;
  transition: .2s;

  .fa {
      font-size: smaller;
  }

  p {
      text-align: center;
      color: fff;
      opacity: 0;
      font-size: small;
      margin-top: 1.5em;
  }
}
.menu-item:hover{
  opacity: 0.5;
  // box-shadow: 0px 5px 10px black;
}
.menu-item a{
  color: #fff;
  position: relative;
  top: 25%;
  left: 0;
  text-decoration: none;
  font-size: unset;

}
#menu:target>.menu-item:nth-child(6){
  transform: rotate(60deg) translateY(-120px) rotate(300deg);
  transition-delay: 0s;
  p {
      opacity: 0.8;
      transition: .6s;
  }
}
#menu:target>.menu-item:nth-child(5){
  transform: rotate(20deg) translateY(-125px) rotate(-20deg);
  transition-delay: .1s;
  p {
      opacity: 0.8;
      transition: .6s;
  }
}
#menu:target>.menu-item:nth-child(4){
  transform: rotate(-20deg) translateY(-125px) rotate(20deg);
  transition-delay: .2s;
  p {
      opacity: 0.8;
      transition: .6s;
  }
}
#menu:target>.menu-item:nth-child(3){
  transform: rotate(-60deg) translateY(-125px) rotate(60deg);
  transition-delay: .3s;
  p {
      opacity: 0.8;
      transition: .6s;
  }
}

@media only screen and (min-width: 680px) {
    body {
      margin: 1.5em 0 0 0;
    }

    .hero .w3-button {
      display:unset;
    }

    .bot-nav {
      .fa {
        font-size: 25px;
      }
    }

    #menu {
      display: none;
    }
    
  }
  
@media only screen and (min-width: 900px) {
    .menu {
      display: none;
    }
  
    .top-nav {
      transform: translateX(0);
      position: unset;
      display: block;
      width: auto;
      height: auto;
      background: none;
      padding: 0 1.5em 0 1.5em;
  
      svg.close { 
        display: none;
      }
  
      ul {
        display: flex;
        margin: 0;
  
        a {
          color: black;
          padding: 0.5em 1.5em;
          font-size: 0.9rem;
  
          &:hover {
            background: none;
            // text-decoration: underline;
            font-weight: bold;
          }
        }
      }
    }
  }