body {
    font-family: "Poppins", sans-serif;
    margin: 1em 0 0 0;
  }

a {
    text-decoration: none;
    font-size: 1.3rem;
  }

.active {
  font-weight: bold;
}

.web-logo {
  padding: 0 0 0 1.5em;
  font-weight: bold;

  span {
    color: #99d8c2;
  }
}


.hero{
  position: relative;
  .text-content {
    position: absolute;
    top: 20%;
    color: white;
    margin: 0 50px;
  }

  img {
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .w3-button {
    margin: 2.5em auto;
    width: 70%;
    display: block;
    font-size: medium;
  }
  
}

.top-nav {
    position: fixed;
    right: 0;
    top: 0;
    background: #333;
    height: 100vh;
    width: 50%;
    z-index: 2;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  
    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 8em;
  
      a {
        color: white;
        padding: 0.75em 2em;
        display: block;
        //padding on link element wont work unless its display block
        width: 100%;

        .web-logo {
          width: 20%;
        }
  
        &:hover {
          background: rgb(122, 117, 117);
        }
      }

    }
    .close {
      float: right;
      margin: 2em;
      width: 2em;
    }
  }

.bot-nav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow-x: auto;
  margin: 0 0 0 0;
  border-radius: 25px 25px 0 0;
  
  .bot-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  .fa {
    color: white;
    padding: 15px 1.3em;
    font-size: 20px;
    
    &:hover {
      background: none;
      opacity: 0.7;
    }
  }
}

header {
display: flex;
justify-content: space-between;

  svg {
      width: 2em;
      margin-top: -0.6em;
      cursor: pointer;
      margin: 0 1.5em 0 0;
  }
}

.hero-product {
  display: flex;
  position: absolute;
  top: 30%;
  justify-content: center;
  align-items: center;
  width: 100%;

  .product-index {
    margin: 0;
    h1 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.7rem;
    }
    p {
      font: 100%;
    }
  }

  a {
    color: #99d8c2;
    text-transform: uppercase;
    font-weight: bold;
    transform: rotate(-90deg);
    margin: 0;
    font: 2em;
    transition: 0.2s;
    &:hover {
      font-style: italic;
      font-size: 200%;
    }
  }
}

.open-nav {
    transform: translateX(0);
}  


@media only screen and (min-width: 680px) {
    body {
      margin: 1.5em 0 0 0;
    }

    .hero .w3-button {
      display:unset;
    }

    .bot-nav {
      .fa {
        font-size: 25px;
      }
    }
    
  }
  
@media only screen and (min-width: 900px) {
    .menu {
      display: none;
    }
  
    .top-nav {
      transform: translateX(0);
      position: unset;
      display: block;
      width: auto;
      height: auto;
      background: none;
      padding: 0 1.5em 0 1.5em;
  
      svg.close { 
        display: none;
      }
  
      ul {
        display: flex;
        margin: 0;
  
        a {
          color: black;
          padding: 0.5em 1.5em;
          font-size: 0.9rem;
  
          &:hover {
            background: none;
            // text-decoration: underline;
            font-weight: bold;
          }
        }
      }
    }
  }